body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

input {
  width: 40%;
  border-radius: 5px;
  padding: 5px;
}
